.header{
  background-color: black;
  padding: 0.4rem;
  color: white;
  font-size: 5vh;
  font-style: italic;
  font-weight: bold;
}

.header img{
  vertical-align: middle;
}

.header a{
  text-decoration: none;
}

.header span{
  color: white;
}

.logo{
  height: 10vh;
}

.background{
  height: 88vh;
  background-color: lightgray;
}

.mainSelect{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  align-items: center;
  font-size: 10vh;
  font-weight: bold;
}

.mainSelect img{
  width: 50%;
  height: 50%;
}

.mainSelect p{
  margin: 0px;
  color: black;
}

.mainSelect a{
  text-decoration: none;
}

.filterbar{
  background-color: gray;
  padding: 0.4rem;
  color: black;
  font-size: 2.5vh;
  font-weight: bold;
}

.filterbar select{
  font-size: 2.5vh;
  border: 1px solid black;
}

.filterbar select:focus{
  outline: none;
}

.dropdown{
  margin-left: 0.4rem;
}

.search{
  height: 3vh;
  margin-left: 0.8rem;
  border: 1px;
  padding: 0px;
  border: 1px solid black;
}

.search:focus{
  outline: none;
}

.searchbutton{
  font-size: 2.5vh;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 3vh;
  width: auto;
}

.builderContainer{
  background-color: lightgray;
  height: 83vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.gridItem{
  border: 3px solid gray;
  font-weight: bold;
}

.item{
  margin: 0px;
  border: 0px;
  border-bottom: 1px solid gray;
  padding: 0.4rem;
  vertical-align: middle;
}

.rightButton{
  float: right;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  cursor: pointer;
}

.unitCard{
  height: 100%;
  width: auto;
  display: block;
  margin: auto;
}

.label{
  margin: 0px;
}

.pointer{
  cursor: pointer;
}

.upgradeButton{
  display: block;
}
